# Virtual environment
.venv/

# Cache Python
__pycache__/
*.pyc

# Data
backend/src/data/
*.parquet
*.csv
*.tif
backend/data/raw/delays/BergamoUniReport_*.txt

#Results
backend/results/

# Temporary files
*.log
*.tmp

# MacOS
.DS_Store
