polars==1.6.0
pyarrow
requests
python-dateutil
matplotlib
tqdm
pandas
meteostat
numpy
timezonefinder
pytz
feedparser
torch
transformers
scipy
seaborn
beautifulsoup4
lxml
cloudscraper
fuzzywuzzy
python-Levenshtein
folium
sentencepiece
protobuf
geopy
